# gitignore for Unity projects
# Keine ignores für VR-Assets wie Steam

# Vi and VIM Backup Files
*~
*.swp

# Windows
**/desktop.ini

# Andere Unity Verzeichnisse
**/Library/*
**/obj/*
**/ProjectSettings/*
**/Logs/*

# Assets wie MiddleVR oder MBU
**/Assets/MiddleVR/*
**/Assets/Plugins
**/Assets/MBU/*
**/MBU.meta
**/Assets/XR/*
**/XR.meta

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables and Builds
*.exe
*.unitypackage

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*

**/Library/
**/Library/*
**/Logs/
**/Logs/*
**/Packages/
**/Packages/*
**/ProjectSettings/
**/ProjectSettings/*
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/Assets/AssetStoreTools*

HSKL_BrickBuildAR/Library/
HSKL_BrickBuildAR/Library/*
HSKL_BrickBuildAR/Logs/
HSKL_BrickBuildAR/Logs/*
HSKL_BrickBuildAR/Packages/
HSKL_BrickBuildAR/Packages/*
HSKL_BrickBuildAR/ProjectSettings/
HSKL_BrickBuildAR/ProjectSettings/*
HSKL_BrickBuildAR/[Tt]emp/
HSKL_BrickBuildAR/[Oo]bj/
HSKL_BrickBuildAR/[Bb]uild/
HSKL_BrickBuildAR/[Bb]uilds/
HSKL_BrickBuildAR/Assets/AssetStoreTools*

HSKL_BrickBuildAR/UserSettings/*
UserSettings/*
UserSettings/Layouts/default-2021.dwlt
HSKL_BrickBuildAR/UserSettings/Layouts/default-2021.dwlt
*.dwlt
**/UserSettings/*
**/UserSettings/
**/UserSettings/Layouts
**/UserSettings/Layouts/
**/UserSettings/Layouts/*
UserSettings/EditorUserSettings.asset
HSKL_BrickBuildAR/UserSettings/EditorUserSettings.asset
HSKL_BrickBuildAR/UserSettings/Search.settings
UserSettings/EditorUserSettings.asset

.DS_Store


*mono_crash*
*mono_crash.*
mono_crash.*

# Visual Studio cache directory
.vs/
**/.vsconfig
.vscode/
**/.vscode
# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# Unity3D generated  files
*.pidb.meta
*.pdb.meta
*.asset	



# Unity3D Generated File On Crash Reports
sysinfo.txt
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete
